@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3557;
    color:#f1faee
}

section {
    display: flex;
}

h1 {
    margin: 0rem 1rem 0rem 1rem;
}

.from, .to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

input, input:focus {
    background-color: #457b9d;
    border: none;
    outline: none;
    text-align: center;
    color: #f1faee;
    font-size: 2rem;
    width: 10rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

select, select:focus {
    background-color: #1d3557;
    border: none;
    outline: none;
    text-align: center;
    color: #f1faee;
    width: 4rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
